@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-gradient: linear-gradient(
    135deg,
    rgba(0, 159, 255, 1) 0%,
    rgba(196, 113, 237, 1) 70%,
    rgba(246, 79, 89, 1) 100%
  );
}

.bg-background-gradient {
  background: var(--background-gradient);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}
html,
body {
  height: 100%; /* Задаем 100% высоты для растяжения на весь экран */
  margin: 0; /* Убираем отступы */
}
body {
  color: var(--foreground);
  background: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
}
